.content-product.manage:not(.open) .search-form .form-field-1 {
	display: none;
}
.input-group.widefat {
	width: 100%;
}
.list-radio {
	margin: 0;
	padding: 0;
	gap: 10px;
	display: grid;
	list-style: none;
	align-items: center;
}
.list-radio.col-2 {
	grid-template-columns: repeat(2, 1fr);
}
.list-radio label {
	gap: 7px;
	margin: 0;
	font-weight: 400;
	align-items: center;
	display: inline-flex;
}
.input-group.widefat .select2 {
	width: calc(100% - 38px) ! important;
}
#box-focus th.manage-column.column-title,
#box-focus td.manage-column.column-title {
	width: 35%;
}
th.manage-column.column-menu_order,
td.manage-column.column-menu_order {
	white-space: nowrap;
}
th.manage-column:last-child {
	width: 1%;
}
td.manage-column.column-product_cat a,
td.manage-column.column-product_brand a {
	min-height: 20px;
	align-items: center;
	display: inline-flex;
	vertical-align: middle;
}
td.manage-column.column-date em {
	display: flex;
	font-style: normal;
	white-space: nowrap;
}
div.input-group-addon {
	height: 30px;
	cursor: pointer;
}
div.item-title {
	color: #F77225;
	font-size: 12px;
	margin-top: -2px;
	position: relative;
}
#posts-filter .date {
	float:left;
	width:150px;
}
#posts-filter .field-date {
	width: 122px ! important;
}
#post-prices .form-field {
	margin-bottom: 15px;
}
#post-prices .form-field:last-child {
	margin-bottom: 0;
}
#post-prices .form-label {
	margin-bottom: 5px;
}
#post-prices .description {
	margin-bottom: 0;
}
#post-stocking .form-label {
	margin-bottom: 10px;
}
#post-stocking .form-field:last-child {
	margin-bottom: 0;
}
#post-technology .cke_chrome {
	border: 0;
}
label.date_to {
	margin-left: 10px;
    margin-right: 10px;
}
div.maso {
	display: flex;
	line-height: 1;
	font-size: 12px;
	margin-top: 5px;
	font-weight: 700;
	color: #F77225;
	align-items: center;
}
div.maso .fa {
	font-size: 10px;
	margin-left: 3px;
}
.note-excel {
	float: left;
	padding: 20px;
	background: #fff;
	border-radius: 3px;
	border: 1px dashed #F77225;
}
.item-price::after {
	content: '';
	clear: both;
	display: table;
}
.item-price input {
	float: left;
	margin-right: 5px;
}
.item-price a {
	float: left;
	width: 30px;
	height: 30px;
	margin: auto;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/icon-price.png) no-repeat;
	background-size: 30px 30px;
}
.column-price .input-group {
	display: inline-flex;
}
.input-group-wrap {
	overflow: hidden;
}
.input-group-wrap > .form-control {
	float: left;
	border-right: none;
	width: calc(100% - 150px);
	width: -webkit-calc(100% - 150px);
}
.input-group-wrap > .input-group {
	float: left;
	width: 150px;
}
.input-group-wrap > .input-group > input {
	font-weight: 700;
	text-align: center;
}

/* list-check-search */
#post-attributes .metabox:not(:last-child) {
	margin-bottom: 0;
	border-bottom: 0;
}
#post-attributes .form-field {
	margin-bottom: 0;
}
.form-wrap.options:not(.digitals) {
	border: none;
	margin: -10px;
}
.form-wrap.digitals {
	margin-bottom: 15px;
}
#post-options > div > .form-wrap.options > .form-field > .form-label {
	line-height: 30px;
	vertical-align: top;
}
.form-wrap.options .post-options {
	border-bottom: 1px solid #e5e5e5;
}
.form-wrap.options .metabox {
	margin: 0;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}
.form-wrap.options .metabox:last-child {
	border: none;
}
.form-wrap.options .metabox .inside {
	padding: 0;
}
.form-wrap.options #add-attribute .form-label label:hover {
	background: #d2d6de;
}
.form-wrap.options #add-attribute .form-label label {
	background: #eee;
    width: 100%;
    height: 30px;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}
.form-wrap.options .form-field:last-child {
	border-bottom: 0;
}
.form-wrap.options .form-label label {
	line-height: 1.5;
	white-space: normal;
}
.form-wrap.options .form-input {
	padding: 0;
}
.form-wrap.options .field-wrap {
	padding: 10px;
}
ul.list-check-search {
	gap: 2px;
	padding: 0;
    display: grid;
    margin: 10px 0 0;
	overflow-y: auto;
	max-height: 270px;
    position: relative;
	grid-template-columns: repeat(4, 1fr);
}
ul.list-check-search.options-0 {
	grid-template-columns: repeat(4, 1fr);
}
ul.list-check-search li {
	list-style: none;
	overflow: hidden;
	border-radius: 3px;
	background: #f1f1f1;
}
ul.list-check-search label {
    margin: 0;
	width: 100%;
	display: grid;
	column-gap: 7px;
	cursor: pointer;
    padding: 7px 5px;
    font-weight: 400;
	line-height: 16px;
	background: #f1f1f1;
	align-items: center;
	grid-template-columns: 16px calc(100% - 21px);
}
ul.list-check-search li:hover,
ul.list-check-search label:hover {
	background: #d2d6de;
}
ul.list-check-search label img {
	width: auto;
	max-height: 16px;
}
ul.list-check-search .add-item label {
    display: grid;
	min-height: 30px;
	position: relative;
	text-align: center;
    align-items: center;
	grid-template-columns: 100%;
}
ul.list-check-search.options-0 li {
	display: grid;
}
ul.list-check-search li.check-1,
ul.list-check-search li.check-1 label {
	color: white;
	background: var(--ws);
}
ul.list-check-search li.check-1 input {
	border-color: var(--ws);
}
ul.list-check-search li.check-1 input:checked {
	background: white;
	border-color: white;
}
ul.list-check-search li.check-1 input:checked::before {
	color: var(--ws);
}
ul.list-check-search .ui-sortable-placeholder {
	border: 2px dashed darkgray;
}

/* mb-info-hotdeal */
#mb-info-hotdeal .input-group {
    float: left;
    width: 190px;
	text-align: center;
}
#mb-info-hotdeal .form-input {
	padding: 5px;
}

#box-hotdeal #list-product .column-deal_order {
	display: none;
}
#box-hotdeal tbody td.column-deal_sold {
	text-align: center !important;
}
.setting-rate .column {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.setting-rate .column.last {
	margin-right: 0;
}

ul.brands {
	margin: 0 0 -5px;
	padding: 0;
	overflow: hidden;
	list-style: none;
}
ul.brands li {
	background-color: #0073aa;
	margin: 0 5px 5px 0;
	word-break: break-all;
	height: 20px;
	line-height: 20px;
	color: white;
	padding: 0 5px;
	border-radius: 2px;
	float: left;
	font-size: 12px;
}

td.column-picture img {
	width: auto;
	height: auto;
	margin: auto;
	max-width: 50px;
	max-height: 50px;
}

.list-item th.column-focus_order,
.list-item td.column-focus_order {
	display: none;
}

#add-taxonomy tr,
#add-taxonomy th,
#add-taxonomy td {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
}
#add-taxonomy tr {
	margin-bottom: 20px;
}
#add-taxonomy th {
	margin-bottom: 3px;
}

#add-taxonomy .field-title {
	margin: 0;
	font-size: 15px;
	font-weight: 500;
}
body.content-price .column-price .input-group,
body.content-price .column-price_old .input-group {
	width: auto;
    align-items: center;
	display: inline-flex;
}
.content-option_group .form-field .select2 {
	width: 100% ! important;
	max-width: 40em ! important;
}
.content-option_group .select2-selection--multiple .select2-selection__rendered {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
    row-gap: 5px;
	min-height: 30px;
	padding: 5px;
}
.content-option_group .select2-selection--multiple .select2-selection__rendered li {
	margin: 0;
	height: 20px;
	padding: 0 4px;
	display: flex;
    align-items: center;
}
.content-option_group .select2-search--inline .select2-search__field {
	margin: 0;
	height: 20px;
	padding: 0 ! important;
}

.column-show_search {
	text-align: center;
}
.show_type-wrap {
    row-gap: 10px;
	display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    align-items: center;
}
.manage .show_type-wrap {
	display: grid;
	margin-top: 10px;
	grid-template-columns: repeat(1, 1fr);
}
.show_type-wrap p {
	margin: 0;
	display: flex;
    column-gap: 5px;
	cursor: pointer;
    align-items: center;
}
.show_type-wrap p label {
	margin: 0;
	font-weight: 400;
}

#post-digitals {
	display: grid;
	position: relative;
	grid-template-columns: repeat(1, 1fr);
}
#post-digitals .metabox {
	margin: 0;
	border-bottom: 0;
	background: #ecf0f5;
}
#post-digitals .metabox.actived,
#post-digitals .metabox:hover {
	background:#f9f9f9;
}
#post-digitals .metabox.actived {
	border-bottom: 1px solid var(--ws-border-color);
}
#post-digitals .metabox.actived h3 .badge {
	color: white;
	background: var(--ws);
}
#post-digitals .metabox.actived:last-child,
#post-digitals .metabox.open:last-child h3 {
	border-bottom: 0;
}
#post-digitals .metabox h3 .badge {
	font-weight: 500;
	margin-right: 3px;
}
#post-options.metabox .inside {
	overflow: unset;
}
#post-digitals .metabox .options {
	gap: 10px;
	margin: 0;
    padding: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
#post-digitals .metabox .options .form-field {
	display: grid;
	border: 1px solid var(--ws-border-color);
}
#post-digitals .metabox .options .form-label {
	border: 0;
	margin: 0;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid var(--ws-border-color);
}
#post-digitals .metabox .options .form-label .dropdown {
	top: 3px;
	float: right;
	position: relative;
}
#post-digitals .metabox .options .form-label .dropdown-menu {
	right: 0;
	left: auto;
	padding: 0;
	overflow: hidden;
	border-color: var(--ws-border-color);
}
#post-digitals .metabox .options .form-label .dropdown .button {
	padding: 0;
	height: auto;
	border: 0;
	color: gray;
}
#post-digitals .metabox .options .form-label .dropdown .button:hover {
	color: black;
}
#post-digitals .metabox .options .form-label .dropdown .item {
	height: 30px;
	display: grid;
	cursor: pointer;
	align-items: center;
	padding: 0 15px;
}
#post-digitals .metabox .options .form-label .dropdown .actived {
	color: white;
	background: var(--ws);
}
#post-tabs .nav-tabs {
	gap: 5px;
	display: flex;
	border-bottom: 0;
	border-top: 1px solid #c3c4c7;
	border-left: 1px solid #c3c4c7;
	border-right: 1px solid #c3c4c7;
}
#post-tabs .nav-tabs::after,
#post-tabs .nav-tabs::before {
	display: none;
}
#post-tabs .nav-tabs li {
	margin: 0;
}
#post-tabs .nav-tabs li a {
	border: 0;
	font-weight: 500;
	padding: 10px 20px;
	position: relative;
}
#post-tabs .nav-tabs li:hover a {
	color: var(--ws);
}
#post-tabs .nav-tabs li.active a {
	color: var(--ws);
	background-color: #f1f1f1;
}
#post-tabs .nav-tabs li:hover a::before,
#post-tabs .nav-tabs li.active a::before {
	left: 0;
	right: 0;
	top: -4px;
	z-index: 1;
	content: "";
	position: absolute;
	border: 2px solid var(--ws);
}
#post-tabs .tab-content {
	margin-bottom: 20px;
}

@media screen and (max-width: 767px)
{
	.content-product .column-views,
	.content-product .column-action,
	.content-product .form-field-1,
	.select2[data-select2-id="7"],
	.column-date,
	.column-price,
	.column-cat_id,
	.column-price_old {
		display: none;
	}
}

.tem-wrap {
	width: 420px;
	font-size: 16px;
	overflow: hidden;
	position: relative;
	background: white;
}
.tem-wrap .giahang-wrap {
	text-align: center;
}
.tem-wrap .giahang-wrap .lbl {
	text-transform: uppercase;
}
.tem-wrap .giahang-wrap .giahang {
	font-weight: 700;
}
.giaban-wrap .giaban {
	display: block;
	line-height: 1;
	font-size: 55px;
	font-weight: 700;
	margin: 2px auto;
}
.thue-wrap {
	text-align: center;
	margin-bottom: 12px;
}
.tem-body-tinhnang {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}
.tem-body-tinhnang fieldset {
	border-radius: 15px;
	border: 1px solid #5eb2ff;
}
.tem-body-tinhnang ul {
	margin: 0;
	list-style: none;
	padding: 10px 20px;
}
.tem-body-tinhnang li {
	line-height: 1.8;
}
.tem-body-tinhnang legend {
	width: auto;
	padding: 0 7px;
	font-size: 12px;
	display: inherit;
	border-bottom: 0;
	font-weight: 700;
	margin: 0 0 0 20px;
	text-transform: uppercase;
	color: #5eb2ff ! important;
}
.tem-foot {
	width: 100%;
	color: white ! important;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	background: #0f85d0 url(../images/print/tem-foot-bg.png) no-repeat center center ! important;
	background-size: cover ! important;
}
.tem-foot p {
	margin: 0;
	color: white ! important;
}
.tem-foot strong {
	color: white ! important;
	text-transform: uppercase;
}

.tem-body-attrs {
	margin: 20px 10px;
	position: relative;
}
.tem-body-attrs .row-item {
	padding: 10px;
	border-radius: 10px;
	background: white ! important;
	border: 1px solid #49a8ff;
	position: relative;
	z-index: 10;
}
.tem-body-attrs::before {
	top: 2px;
	z-index: 1;
	content: '';
	border-radius: 10px;
	position: absolute;
	background: #a2daf9;
	height: 100%;
	width: 100%;
	left: 0;
}
.tem-body-attrs .col-item-left ul {
	margin: 0;
	list-style: none;
	padding: 0 10px 0 0;
	border-right: 2px solid #eef0f1;
}
.row-item {
	display: flex;
}
li.row0 {
	gap: 5px;
	padding: 10px;
	display: flex;
	margin: 0 0 10px;
	border-radius: 6px;
	background: #d2efff ! important;
}
li.row0 strong {
	display: block;
    overflow: hidden;
	max-width: 120px;
	margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
li.row0 label {
	display: block;
	min-width: 50px;
	font-weight: 700;
	white-space: nowrap;
}
li.row1 {
	gap: 5px;
	display: flex;
	margin: 0 0 5px;
	white-space: nowrap;
}
li.row1 label {
	min-width: 60px;
	font-weight: 700;
}
li.row2 {
	gap: 5px;
	display: flex;
	white-space: nowrap;
}
li.row2 label {
	min-width: 60px;
	font-weight: 700;
}
.col-item-right {
	padding-left: 10px;
}
.brand-logo {
	min-height: 46px;
	text-align: center;
	margin-bottom: 10px;
}
.brand-logo .brand-name {
	display: block;
	font-size: 14px;
	margin: 5px 0 0 0;
}
.baohanh-wrap {
	width: 100%;
	overflow: hidden;
}
.baohanh-title {
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	border-radius: 8px 8px 0 0;
	background: white ! important;
	border-top: 3px solid #e3d60d;
	border-left: 3px solid #e3d60d;
	border-right: 3px solid #e3d60d;
}
.baohanh-content {
	overflow: hidden;
	border-radius: 0 0 8px 8px;
	background: #e3d60d url(../images/print/bg-baohanh.jpg) no-repeat ! important;
	background-size: cover;
}
.baohanh-content ul {
	display: grid;
	list-style: none;
	margin: 0 -2px -2px;
	padding: 3px 2px 5px;
	grid-template-columns: repeat(2, 1fr);
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
}
.baohanh-content ul li:first-child {
	border-right: 1px dotted white;
}
.baohanh-content ul span {
	display: block;
	font-weight: 300;
}
.baohanh-content strong {
    gap: 3px;
	padding: 0 2px;
	font-weight: 700;
	margin-bottom: 4px;
	position: relative;
	display: inline-flex;
    align-items: baseline;
	border-bottom: 1px solid black;
}
.baohanh-content em {
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
}
.tem-table {
	overflow: hidden;
}
.tem-head {
	min-height: 200px;
	text-align: center;
	background: #1187d1 url(../images/print/tem-head-bg.jpg) no-repeat center center ! important;
	background-size: cover ! important;
}
.tem-body {
	margin-top: -87px;
	position: relative;
}
.tem-title {
	color: #fdf12a;
	font-size: 32px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Anton', sans-serif;
	background: url(../images/print/tem-title.png) no-repeat center center ! important;
	text-indent: -99999px ! important;
    background-size: 85% ! important;
}
.tem-logo {
	background: url(../images/print/mask2.png) no-repeat top center;
	background-size: 330px 54px;
	margin-bottom: 15px;
}
.tem-logo-mark {
	padding: 10px;
	background: url(../images/print/mask1.png) no-repeat top center ! important;
	background-size: 309px 54px ! important;
}
.tem-logo-mark img {
	margin: auto;
	display: block;
	max-height: 34px;
}

span.post-state {
	color: #50575e;
	font-weight: 500;
}
span.post-state::before {
	content: "—";
	margin: 0 3px;
}
.column-price .price-wrap {
	text-align: right;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
}
.column-price .price-wrap del {
	display: block;
}
.column-price .price-wrap .text-discount {
	float: right;
	padding: 0 3px;
	font-size: 10px;
	border-radius: 3px;
	width: max-content;
}
.column-price .price-wrap .text-discount::after {
	content: "%";
}

ul.list-check-search .input-group.group-focus-single {
	overflow: hidden;
	position: relative;
}
ul.list-check-search.focus-single-1 li,
ul.list-check-search.focus-single-1 li label {
	border-radius: 3px;
}
ul.list-check-search.focus-single-1 li.check-0 .input-group-addon {
	border-color: #f1f1f1;
}
ul.list-check-search.focus-single-1 li.check-1 .input-group-addon {
	border-color: var(--ws);
}

.bootstrap-tagsinput {
    width: 100%;
	box-shadow: none;
    padding: 3px 5px;
    min-height: 30px;
    border-radius: 3px;
	border-color: #8c8f94;
}
.bootstrap-tagsinput:hover {
	outline: 0;
	border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}
.bootstrap-tagsinput input {
	padding: 0;
}
.bootstrap-tagsinput .tag {
	top: -1px;
	margin-bottom: 4px;
    position: relative;
	display: inline-flex;
	vertical-align: middle;
	background-color: var(--ws) !important;
}
.bootstrap-tagsinput.focus {
    outline: 0;
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 5px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
	box-shadow: none;
}

.form-variation {
	padding: 15px;
}
.form-variation .inner {
	gap: 15px;
	display: grid;
	margin-bottom: 15px;
	grid-template-columns: repeat(2, 1fr);
}
.form-variation .form-label {
	margin-bottom: 5px;
}
.form-variation .col-left {
	display: grid;
	overflow: hidden;
	border-radius: 3px;
	text-align: center;
	align-items: center;
	border: 1px solid var(--ws-border-color);
}
.form-variation .col-left .form-label {
	display: none;
}
.form-variation .col-right .form-field:not(:last-child) {
	margin-bottom: 15px;
}
.form-variation .col-right .form-field:last-child {
	margin: 0;
	padding: 0;
}
.form-variation .list-radio {
	gap: 5px;
}

table.table-list .column-focus,
table.table-list .column-group,
table.table-list .column-picture,
table.table-list .column-picture span,
table.table-list .column-product_group {
	text-align: center;
}

@media screen and (max-width: 1400px)
{
	ul.list-check-search,
	ul.list-check-search.options-0 {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 1300px)
{
	.column-action .row_action {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 1200px)
{
	.manage-column.column-product_brand,
	.manage-column.column-views {
		display: none;
	}
}

@media screen and (max-width: 767px)
{
	#post-tabs .nav-tabs li {
		width: 50%;
	}
	.form-wrap.options:not(.digitals) {
    	gap: 10px;
		padding: 10px;
		display: grid;
	}
	#post-attributes .form-field {
		display: grid;
		border: 1px solid var(--ws-border-color);
	}
	#post-attributes .form-field .form-label {
		margin: 0;
		border: 0;
		width: 100%;
		border-bottom: 1px solid var(--ws-border-color);
	}
	ul.list-check-search.options-0 {
		grid-template-columns: repeat(2, 1fr);
	}
	#post-digitals .metabox .options {
		grid-template-columns: repeat(1, 1fr);
	}
}